{"openapi":"3.1.0","info":{"title":"OwnPay Canonical API","version":"1.0.0","description":"Universal Payment Rails & Control Plane for Humans and Autonomous AI Agents on Base L2.\n\n**Settlement Rail:** Non-Custodial Base Mainnet (`8453`) & Base Sepolia (`84532`).\n\nFor commercial policies, developer guides, and pricing details, visit https://ownpay.tech/pricing and https://ownpaylab.dev.","contact":{"name":"OwnPay Developer Platform","url":"https://ownpaylab.dev"}},"servers":[{"url":"https://ownpaylab.dev/api/v1","description":"OwnPay Developer API"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"http","scheme":"bearer","bearerFormat":"own_live_* / own_test_*","description":"Authenticate using an OwnPay API key: `Bearer own_live_...` or `Bearer own_test_...`"}},"schemas":{"ApiResponse":{"type":"object","properties":{"success":{"type":"boolean","example":true},"error":{"type":"string","example":"Resource not found"},"code":{"type":"string","example":"RESOURCE_NOT_FOUND"},"data":{"type":"object"}},"required":["success"]},"PaymentIntent":{"type":"object","properties":{"intent_id":{"type":"string","format":"uuid","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"},"order_id":{"type":"string","example":"ORD-982173"},"payment_address":{"type":"string","example":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"},"usdc_amount":{"type":"number","example":25},"fiat_amount":{"type":"number","example":25},"fiat_currency":{"type":"string","example":"USD"},"exchange_rate":{"type":"number","example":1},"qr_data":{"type":"string","example":"ethereum:0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913@8453/transfer?address=0x...&uint256=25000000"},"status":{"type":"string","enum":["PENDING","CONFIRMED","EXPIRED"],"example":"PENDING"},"network":{"type":"string","example":"base"},"chain_id":{"type":"integer","example":8453},"expires_at":{"type":"string","format":"date-time","example":"2026-09-16T15:30:00.000Z"}}},"PaymentExecution":{"type":"object","properties":{"payment_id":{"type":"string","format":"uuid","example":"pay_7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f"},"amount":{"type":"number","example":10},"recipient":{"type":"string","example":"0x70997970C51812dc3A010C7d01b50e0d17dc79C8"},"token":{"type":"string","example":"USDC"},"chain":{"type":"string","example":"base"},"status":{"type":"string","enum":["SETTLED","QUEUED_FOR_APPROVAL","REJECTED"],"example":"SETTLED"},"tx_hash":{"type":"string","example":"0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"},"created_at":{"type":"string","format":"date-time","example":"2026-09-16T12:00:00.000Z"}}},"TransactionRecord":{"type":"object","properties":{"id":{"type":"string","example":"tx_982173"},"intent_id":{"type":"string","format":"uuid","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"},"order_id":{"type":"string","example":"ORD-982173"},"amount_usdc":{"type":"number","example":25},"protocol_fee_usdc":{"type":"number","example":0.025},"net_merchant_usdc":{"type":"number","example":24.975},"status":{"type":"string","example":"CONFIRMED"},"tx_hash":{"type":"string","example":"0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890"},"chain_id":{"type":"integer","example":8453},"confirmed_at":{"type":"string","format":"date-time","example":"2026-09-16T12:05:00.000Z"}}},"SettlementRecord":{"type":"object","properties":{"settlement_id":{"type":"string","example":"stl_812736"},"intent_id":{"type":"string","format":"uuid","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"},"gross_amount_usdc":{"type":"number","example":100},"protocol_fee_usdc":{"type":"number","example":0.1},"net_merchant_usdc":{"type":"number","example":99.9},"splits":{"type":"array","items":{"type":"object","properties":{"recipient":{"type":"string","example":"0x70997970C51812dc3A010C7d01b50e0d17dc79C8"},"type":{"type":"string","example":"MERCHANT_PRIMARY"},"amount_usdc":{"type":"number","example":99.9},"percentage_bps":{"type":"integer","example":9990}}}},"zero_loss_verified":{"type":"boolean","example":true},"created_at":{"type":"string","format":"date-time","example":"2026-09-16T12:05:00.000Z"}}},"Agent":{"type":"object","properties":{"id":{"type":"string","example":"agent_5c8d9e0f"},"name":{"type":"string","example":"Procurement AI Agent"},"description":{"type":"string","example":"Automated data feed procurement agent"},"status":{"type":"string","enum":["SANDBOX","ACTIVE","PAUSED","FROZEN","REVOKED"],"example":"ACTIVE"},"walletAddress":{"type":"string","example":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"},"walletType":{"type":"string","example":"smart_account"},"defaultChain":{"type":"string","example":"base"},"defaultToken":{"type":"string","example":"USDC"},"balance":{"type":"number","example":125.5},"policy":{"type":"object","properties":{"maxPerTransaction":{"type":"number","example":10},"dailyLimit":{"type":"number","example":100},"humanApprovalAbove":{"type":"number","example":25}}},"createdAt":{"type":"string","format":"date-time","example":"2026-09-16T10:00:00.000Z"}}},"WebhookPayload":{"type":"object","properties":{"id":{"type":"string","example":"evt_982173"},"event":{"type":"string","enum":["intent.settled","payment.confirmed","agent.paid"],"example":"intent.settled"},"data":{"type":"object"},"created_at":{"type":"string","format":"date-time","example":"2026-09-16T12:05:00.000Z"}}},"WebhookSubscription":{"type":"object","properties":{"id":{"type":"string","example":"wh_982173"},"url":{"type":"string","format":"uri","example":"https://api.merchant.com/webhooks"},"events":{"type":"array","items":{"type":"string"},"example":["intent.settled","payment.confirmed"]},"status":{"type":"string","enum":["ACTIVE","DISABLED"],"example":"ACTIVE"},"createdAt":{"type":"string","format":"date-time","example":"2026-09-16T12:00:00.000Z"}}}}},"paths":{"/intents":{"post":{"summary":"Create Payment Intent","description":"Generates an idempotent, non-custodial payment intent with real-time currency conversion on Base.\n\n**Anti-Enumeration & Idempotency:** Supply an `Idempotency-Key` header to safely retry requests without duplication.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","example":"idem_sec_98127391823"},"description":"Unique client-supplied idempotency key."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"order_id":{"type":"string","example":"ORD-982173"},"amount":{"type":"number","example":25},"currency":{"type":"string","default":"USD","example":"USD"},"webhook_url":{"type":"string","format":"uri","example":"https://merchant.example.com/webhooks"}},"required":["order_id","amount"]}}}},"responses":{"201":{"description":"Payment intent generated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIntent"}}}},"400":{"description":"Validation failed or missing required fields"},"401":{"description":"Unauthorized: invalid or missing API key"}}}},"/intents/{id}":{"get":{"summary":"Inspect Intent Status & Settlement","description":"Returns the real-time settlement status of an on-chain intent.\n\n**Anti-ID Enumeration Guard:** If the intent does not exist OR does not belong to the authenticated merchant, the server strictly returns `404 Not Found`.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Payment intent UUID","example":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d"}],"responses":{"200":{"description":"Settlement status returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentIntent"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Intent not found or access denied (non-disclosing)"}}}},"/payments":{"post":{"summary":"Execute Universal Payment (Human or Agent)","description":"Executes a direct settlement payment. Autonomous agents are evaluated against centralized Policy Engine limits.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","example":"idem_pay_8271382"},"description":"Unique client-supplied idempotency key."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"amount":{"type":"number","example":10},"recipient":{"type":"string","example":"0x70997970C51812dc3A010C7d01b50e0d17dc79C8"},"token":{"type":"string","default":"USDC","example":"USDC"},"chain":{"type":"string","default":"base","example":"base"},"agentId":{"type":"string","example":"agent_5c8d9e0f"},"purpose":{"type":"string","example":"Automated API procurement"}},"required":["amount","recipient"]}}}},"responses":{"200":{"description":"Payment settled immediately on-chain","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentExecution"}}}},"202":{"description":"Queued for human review (policy threshold exceeded)"},"401":{"description":"Unauthorized"},"403":{"description":"Cross-tenant agent payment rejected or policy limit exceeded"}}}},"/payments/{id}":{"get":{"summary":"Get Payment Execution Record","description":"Retrieves the execution status and on-chain transaction hash for a payment.\n\n**Anti-ID Enumeration Guard:** Strict non-disclosing `404 Not Found` if payment ID does not belong to the merchant.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"pay_7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f"}],"responses":{"200":{"description":"Payment execution details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentExecution"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Payment not found or access denied"}}}},"/transactions":{"get":{"summary":"Query Merchant Transactions","description":"Retrieves cryptographically confirmed transactions on Base for the authenticated merchant.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","default":20},"description":"Page limit"},{"name":"offset","in":"query","schema":{"type":"integer","default":0},"description":"Offset for pagination"}],"responses":{"200":{"description":"List of confirmed transactions","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/TransactionRecord"}}}}}}},"401":{"description":"Unauthorized"}}}},"/transactions/{id}":{"get":{"summary":"Get Transaction Record by ID","description":"Retrieves a specific confirmed transaction record on Base.\n\n**Anti-ID Enumeration Guard:** Non-disclosing `404 Not Found` if transaction does not belong to the authenticated merchant.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Transaction ID or Hash","example":"tx_982173"}],"responses":{"200":{"description":"Transaction details returned","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#/components/schemas/TransactionRecord"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Transaction not found or access denied"}}}},"/settlements":{"get":{"summary":"Query Settlement Ledger & Splits","description":"Retrieves double-entry settlement split executions and net merchant allocations.","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Settlement allocations and ledger entries","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/SettlementRecord"}}}}}}},"401":{"description":"Unauthorized"}}}},"/webhooks":{"get":{"summary":"List Registered Webhook Endpoints","description":"Retrieves all configured webhook event endpoints registered for the authenticated merchant.","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"List of registered webhook endpoints","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookSubscription"}}}}}}},"401":{"description":"Unauthorized"}}},"post":{"summary":"Inbound Webhook Receiver & Verification","description":"Canonical webhook ingestion endpoint. Webhook events dispatched by OwnPay are cryptographically signed using HMAC-SHA256.","parameters":[{"name":"X-OwnPay-Signature","in":"header","required":true,"schema":{"type":"string","example":"t=1726488000,v1=abcdef0123456789..."},"description":"HMAC-SHA256 signature calculated across timestamp and raw request body."},{"name":"X-OwnPay-Timestamp","in":"header","required":true,"schema":{"type":"string","example":"1726488000"},"description":"Unix timestamp of the dispatched event (replay guard: tolerance <= 300 seconds)."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookPayload"}}}},"responses":{"200":{"description":"Webhook event received and verified"},"400":{"description":"Missing signature or timestamp headers"},"401":{"description":"Invalid HMAC signature or timestamp expired"}}}},"/agents":{"post":{"summary":"Register Autonomous Agent","description":"Registers an autonomous agent with a derived Base Smart Account wallet and default spending guardrail policies.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","example":"idem_agent_create_001"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Procurement AI Agent"},"description":{"type":"string","example":"Automated data procurement"},"defaultChain":{"type":"string","default":"base","example":"base"},"defaultToken":{"type":"string","default":"USDC","example":"USDC"}},"required":["name"]}}}},"responses":{"201":{"description":"Agent registered with derived smart account and scoped API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"401":{"description":"Unauthorized"}}},"get":{"summary":"List Registered Agents","description":"Retrieves all agents owned by the authenticated merchant with balance and spending summaries.","security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"List of registered agents","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"$ref":"#/components/schemas/Agent"}}}}}}},"401":{"description":"Unauthorized"}}}},"/agents/{id}":{"get":{"summary":"Get Autonomous Agent Details","description":"Retrieves agent profile, smart account address, real-time USDC balance, and policy limits.\n\n**Anti-ID Enumeration Guard:** Returns non-disclosing `404 Not Found` if agent does not belong to the merchant.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"agent_5c8d9e0f"}],"responses":{"200":{"description":"Agent details returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Agent"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Agent not found or access denied (non-disclosing)"}}}},"/agents/{id}/freeze":{"post":{"summary":"Freeze Autonomous Agent","description":"Emergency circuit-breaker. Freezes an agent immediately, halting all subsequent automated payment executions.\n\n**Anti-ID Enumeration Guard:** Returns non-disclosing `404 Not Found` on cross-tenant access attempt.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"agent_5c8d9e0f"}],"responses":{"200":{"description":"Agent frozen successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#/components/schemas/Agent"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Agent not found or access denied"}}}},"/agents/{id}/unfreeze":{"post":{"summary":"Unfreeze Autonomous Agent","description":"Restores a frozen agent back to ACTIVE status.\n\n**Anti-ID Enumeration Guard:** Returns non-disclosing `404 Not Found` on cross-tenant access attempt.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"agent_5c8d9e0f"}],"responses":{"200":{"description":"Agent status restored to ACTIVE","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"$ref":"#/components/schemas/Agent"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Agent not found or access denied"}}}}}}